
	*{
		box-sizing:border-box;
		/* display: block; */
		/* margin:auto; */
		/* border: 1px solid; */
		position:relative;
	}
	.middleStyle>*{
		margin: auto;
		text-align: center;
	}
	.leftStyle>*{
		text-align:left;
	}
	#main{
		margin:3vh auto ;
		width:70vw;
		background-color: bisque;
	}
	#simpleIntroduction{
		position:relative;
		height:12vw;
		padding: 1vw;
		line-height: 10vw;
		vertical-align:middle;
	}
	.photo{
		position: relative;
		display:inline-block;
		width:7.5vw;
		height: 10vw;
		}
	#simpleIntroduction>.textArea{
		position: absolute;
		display:inline-block;
		width:calc(70vw - 13vw);
		height: 10vw;
		line-height: 10vw;
		vertical-align:middle;
		right:1vw;
		/* vertical-align:middle; */
		}
	.normalArea{
		margin:1vw;
	}
	.twoFieldArea{
		padding:1vw;
		columns:2;
		/* columns-gap:50px; */
		box-orient:horizontal;
	}
	#admin{
		width:80vw;
		height:99vh;
	}	
	#adminMenu{
	/* #adminOptionMenu , #test{ */
		position: absolute;
		width:20%;
		height:100%;
		left:0;
		top:0;
	}
	#optionArea{
		position: relative;
		width:80%;
		/* height:60%; */
		margin:10%;
		/* top:50px; */
		overflow:auto;
	}
	#previewArea{
		position: relative;
		width:100%;
		/* height:40%; */
		/* left:20%; */
		/* top:60%; */
		overflow:auto;
	}
	.left-3{
		width:calc(100%*3/12);
		left:0;
	}
	.right-9{
		position: absolute;
		width:calc(100%*9/12);
		right:0;
	}
	.optionTable{
		width: 100%;
	}
	.optionTable tr:first-child>td:nth-last-child(1),
	.optionTable tr:first-child>td:nth-last-child(2),
	.optionTable tr:first-child>.std{
	/* .optionTable tr>td{ */
		width:10%;
	}

#cover,#cover2
{
	width:100%;
	height:100%;
	position:fixed;
	z-index:5;
	background:rgba(51,51,51,0.4);
	top:0px;
	left:0px;
	overflow:auto;
}
#coverr,#coverr2
{
	width:70%;
	min-width:300px;
	max-width:800px;
	height:70%;
	min-height:300px;
	position:absolute;
	z-index:5;
	background:#ffffff;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	overflow:auto;
}
.modal2{
	width:80%;
	font-size: 1em;
}
/* .modal2 *{
	margin:auto;
} */
/* .modal2 textarea{
	width:100%;
} */
.button{
	width:80%;
	max-width:5em;
	background: rgba(194, 219, 84, 0.7);
	/* height:1.8em; */
	box-shadow: 2px 2px 3px rgba(50,50,50,0.5);
	font-size: .8em;
	padding:1.5px;
}
.lButton{
	width:100%;
	max-width:5em;
	background: rgba(194, 219, 84, 0.7);
	/* height:1.8em; */
	box-shadow: 2px 2px 3px rgba(50,50,50,0.5);
	font-size: .8em;
	padding:1.5px;
}
#choseResume{
	position: absolute;
	right:1vw;
	width:15em;
	top:2vh;
	font-size: .5em;
	text-align: left;
}
.minInput{
	width:10em;

}
.more{
	width:12em;
	/* height:8em; */
	position:absolute;
	left:3em;
	top:1.1em;
	background:rgb(172, 234, 236);
	z-index:10;
	display: none;
	font-size: .9em;
}
.showArea{
	width:95%;
	box-shadow: 5px 5px 5px rgb(100 100 100);
	margin: 8vh auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #ddffdd;
	/* text-align: center; */
}
@media (min-width:992px){
	.showArea{
		width:960px;
	}
}
.test{
	background-color: red;
}
.allArea,form .allArea{
	padding:0;
	padding-right:0;
	padding-left:0;
	padding:0;
	/* margin:0; */
}
@media (max-width:600px){
	.hidden-xs{
		display:none;
	}
}